/* making body margins none vieport size full */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #62929E;
    
}
/* making the scrollbar disappear */
body::-webkit-scrollbar{
    display: none;
}




/* the header portion link contianer ul li and making the arrange ment space between */

header{
    background-color: #F7F9F9;
    width: 100vw;


    position: sticky;
    top: 0;
}
.link-container{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.link-container > ul{
    list-style-type: none;
}
.link-container > ul > li{
    padding: 1vh;
}
.left_hand{
    display: flex;
    flex-direction: row;
}
.right_hand{
    display: flex;
    flex-direction: row;
    gap : 3px;
}


 /* the logo font setting in css using google font api*/
#logo{
  /* font-family: "Almendra Display", serif;
  font-weight: 900;
  font-style: normal;
  color: #0C6291; */
  text-shadow: 2px 2px 4px #FFBA08;
  border-right: 1px solid #0C6291;
  font-size: 15px;
}


/* the header login and signup button */
.header_main_buttons{
    margin-top: 0;
    margin-bottom: 0;
    height: max-content;
    border-left: 1px solid #13070C;
    border-right: 1px solid #13070C;
    transition: 1s;
}

/* #login{
    border-left: 2px solid #13070C;
} */

.header_main_buttons:hover{
    color: white;
    background-color: #13070C;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.header_buttons_font{
  font-family: "Copse", serif;
  font-weight: 400;
  font-style: normal;
}


/* the header about us and shop button */
.head_links_edit{
  font-family: "Glegoo", serif;
  font-weight: 400;
  font-style: normal;
  transition-duration: 1ms;
  font-size: 12px;
}
.head_links_edit:hover{
    font-weight: 700;
    border-bottom: 2px solid #13070C;
}



/* main part */
.container{
    height: 100vh;
    width: 100vw;
    background: no-repeat url("background2.jpg"), #363612a4;
    background-blend-mode: multiply;
    background-size: 100%,100%;

    color: #F7F9F9;
}
.idk{
    width: 100vh;
}


.wrapper_heading1-2{
    position: absolute;
    top : 25%;
    left: 5%;
    display: flex;
    flex-direction: column;
}

.heading_line1{
    font-family: "Akronim", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 10vh;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.heading_line2{
    text-transform: uppercase;
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
    /* font-size: 5vh; */
    color: #F7D002;
}


.btn_wrapper{
    display: flex;
    flex-direction: row;
    gap: 2vmin;
}


.btn_wrapper_modifier{
    text-align: center;
    text-transform: uppercase;


    font-family: "Copse", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color:#E2E5DD;

    border: 2px solid #E2E5DD;
    padding: 20px;
    border-radius: 40px;

    transition: 1s;
}
.btn_wrapper_modifier:hover{
    background: #040403;
    color: #E2E5DD;
    border-color: #040403;
}

.browse_text_wrapper{
    position: absolute;
    bottom: 1vmin;
    right: 1vmin;
}

.browse_text{
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
}

.text_edit1{
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:35px;
}

#angle_down{
    writing-mode: horizontal-tb;
}


.jumbled{
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.catchy_text{
    position: absolute;
}



.jumbled2{
    position: absolute;
    top: 45%;
    right:15%;
    font-size: 3vmin;
    height: 40vmin;
    text-align: center;
}
.catchy_text2{
    writing-mode: vertical-lr;
    writing-mode: vertical-rl;
    text-orientation: upright;

    text-transform: uppercase;

    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}






.p_wrapper{
    position: absolute;
    display: flex;
    gap: 5px;
}

.dynamic_txt li{
    list-style: none;
    color: #F8C9B4;
    position: relative;
}

.p_wrapper .dynamic_txt{
    line-height: 17px;
    height: 17px;
    overflow: hidden;
}


.dynamic_txt li{
    top: 0;
    position: relative;
    animation: slide 15s steps(5)
    infinite;
}

.dynamic_txt li::after{
    content: "";




    position: absolute;
    left: 0;


    height: 100%;
    width: 100%;


    background: #65634F;
    border-left: 2px solid #F8C9B4;


    animation: typing 3s steps(12)
    infinite;
}

.ad{
    position: absolute;
 left : 50%;
    bottom:1%;
    font-size: 40px;
}

.arrow_down_animation{
    position: relative;
}
.arrow_down_animation{
    animation: rotate 3s infinite;
}



@keyframes rotate{
    0%{

    }
    100%{
        transform: rotateY(180deg);
    }
}

@keyframes typing{
    40%,
    60%{
        left: calc(100% + 10px);
    }
    100%{
        left: 0;
    }
}

@keyframes slide{
    100%{
        top: -85px;
    }
}


.jumbled_animate{
    animation: jumbling 10s infinite;
}

@keyframes jumbling{
    0%{}
    25%{
        transform: rotate3d(1, 1, 1, 45deg);
    }
    50%{
        transform: rotate3d(-1,1,1, 45deg);
        scale: 2;
    }
    75%{
        transform: rotate3d(-1,1,1, 270deg);
        scale: 1.5;
    }
    100%{
        scale: 1;
    }
}





.container1{
    background: url("container1_vid.mp4");
    height: 100vh;
    width: 100vw;
    padding-top: 7vmin;
}

.wrapped_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.wrapped_1 h1{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 7vmin;    
}

.item_wrapper{
    display: flex;
    flex-flow: row;
    gap: 3vmin;
}

.item{
    height: 40vmin;
    width: 30vmin;
    border: 1px solid black;
    border-radius: 50px;

    
    background: url("cloth.jpg") no-repeat;
    background-size: cover;
    background-position: 50%;
}



.buy{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item > .buy > i{
    display: none;
}

.item:hover{
    box-shadow: 5px 7px 10px #3a330363;
    .buy{
        height: inherit;
        width: inherit;
        background: rgba(0, 0, 0, 0.616);    
        border-radius: 50px;
    }
    .buy > i{
        display: contents;
        color: white;
        font-size: 55px;
    }

    transition: 350ms ease-in-out;

}


